



<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #950740;">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Search", "Search", "Home")</li>
            </ul>
        </div>
    </div>
</div>
