@{
    ViewBag.Title = "About My App";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MovRent is a typical service for movie renting where you pay money for subscription or a video and then can stream it for a couple of days.</p>
