@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color: #ffffff;background-color: #4e4e50;">
    <h1>Movie Rent</h1>
    <p class="lead">MovRent is a typical service for movie renting where you pay money for subscription or a video and then can stream it for a couple of days.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="color: #1A1A1D; background-color: #950740;">Rent Now &raquo;</a></p>
</div>

<div class="row" style="padding-right: 15px; padding-left: 15px; background-color: #ff6a00;">
    <div class="col-md-4" style="background-color: #4e4e50;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="190" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <image href="https://cineplex.cpxstoreimages.com/cineplex?set=imageSize[large276],imageURL[http://cineplex.cdn2.dmlib.com/u/Assets/a1/1F/BB/a1-6985162/s1-46598176/p_800x1200_TrollsWorldTourDancePartyEdition_06172020.jpg]&call=url[file:web/sizing]&sink=format[webp],quality[70]" width="100%" height="190" />
        </svg>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #1A1A1D; background-color: #950740;">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="background-color: #4e4e50;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="190" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <image href="https://cineplex.cpxstoreimages.com/cineplex?set=imageSize[large550],imageURL[http://storemedia.cineplex.com/store/promo/posters/SCOOB_V2.jpg]&call=url[file:web/sizing]&sink=format[webp],quality[70]" width="100%" height="190" />
        </svg>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #1A1A1D;background-color: #950740;">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="background-color: #4e4e50;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="190" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <image href="https://cineplex.cpxstoreimages.com/cineplex?set=imageSize[large276],imageURL[http://cineplex.cdn2.dmlib.com/u/Assets/a1/4E/0F/a1-6910689/s1-46174728/p_800x1200_Inheritance_En_052720.jpg]&call=url[file:web/sizing]&sink=format[webp],quality[70]" width="100%" height="190" />
        </svg>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #1A1A1D; background-color: #950740;">View</button>
                </div>
            </div>
        </div>
    </div>
</div>